---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="p-5 flex flex-col gap-3">
      <div class="flex justify-between">
        <span>Rayhan Wijaya</span>

        <div class="flex gap-6">
          <a href="#projects">Projects</a>
          <a href="#skills">Skills</a>
        </div>
      </div>

      <header
        class="flex flex-col gap-2 items-center text-center"
        id="hero-section"
      >
        <h1>My Portfolio Page</h1>
        <p>Hi, I'm Rayhan. Thanks for visiting.</p>

        <div class="flex gap-6">
          <a href="https://youtube.com/@tenulty">Youtube</a>
          <a href="">WhatsApp</a>
          <a href="https://github.com/rayhan-wijaya">GitHub</a>
        </div>
      </header>
    </div>
  </body>
</html>
